.header{
    height: 34vw;
    margin: 30px auto;
    background: url('../../assets/header_img.png');
    background-size: contain;
    position: relative;
    background-repeat: no-repeat;
}
.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 4s;
}
.header-contents h2{
    font-weight: 500;
    color: azure;
    font-size: max(4.5vw , 22px);
}
.header-contents p{
    color: white;
    font-size: 1vw;
}
.header-contents button{
    border: none;
    padding: 8px 20px;
    border-radius: 50px;
    color: #616161;
    font-size: 18px;
    cursor: pointer;
    transition: .5s linear;
}
.header-contents button:hover{
    background: rgb(248, 168, 155);
    color: black;
    transform: translateY(-4px);
}
@media (max-width:1050px) {
    .header-contents{
        max-width: 45%;
    }
}
@media (max-width:750px) {
    .header-contents{
        max-width: 65%;
    }
    .header-contents p{
        display: none;
    }
    .header-contents button{
        padding: 2vw 4vw;
    }
}